*{
    background: #F3F5FC;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    justify-content: space-between;
    margin: 20px;
}

.presentacion {
    padding: 2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

#textoEntrada {
    width: 100%;
    height: 150px;
}

.buttons {
    margin-top: 10px;
}

.textoResultado {
    display: none;
    border: 2px solid #000; /* Borde del rectángulo */
    padding: 10px; /* Espacio dentro del rectángulo */
    width: 400px; /* Ancho del rectángulo */
    height: 944px;
    margin-top: 20px; /* Espacio arriba del rectángulo */
    background-color: #f4f4f4; /* Color de fondo del rectángulo */
    border-radius: 32px; /* Bordes redondeados */
}

.presentacion_botones {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.textoResultado {
    background-color: #FFFFFF;
}

.presentacion__imagen {
    width: 50%;
}

.footer {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
